<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/AdminLTE.min.css" />
    <link rel="stylesheet" href="./css/_all-skins.min.css" />
    <link rel="stylesheet" href="./css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main_custrom.css">
    <link href="lib/toastr.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <script src="./js/jquery.min.js"></script>
    <script src="lib/toastr.js" type="text/javascript"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/adminlte.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
	<script src="lib/toastr.js" type="text/javascript"></script>
</head>
<body class="skin-blue sidebar-mini fixed sidebar-mini-expand-feature">
    <div id="app_topside">
		<topside v-bind:username="username":isshow="isshow"></topside>
	</div>
    <div class="main" id="app" v-cloak>
			<div id="app_leftside"><leftside></leftside></div>
            <div class="main_content_qb">
                <div class="qb_menu">
                    <div class="yu_title_1"><a href="sz_4.html">联系人</a> ></div>
                    <div class="qb_menu_2 qb_main_color">添加联系人</div>
                </div>
                <div class="clear_height"></div>
                <div class="qb_main col-md-12">
                    <div class="clear_right_height"></div>
                    <div class="clear_right_height"></div>
					<div class="col-md-12">
                        <div class="sz_main_left">注册账户：</div>
                        <div class="sz_main_right sz_bolder"><input v-model="userName" class="form-control sz_input" value="" placeholder="请输入联系人的注册账户信息"></div>
                    </div>
                    <div class="clear_right_height"></div>
					<div class="col-md-12">
                        <div class="sz_main_left">备注：</div>
                        <div class="sz_main_right sz_bolder"><input v-model="memo" class="form-control sz_input" value=""></div>
                    </div>
                    <div class="clear_right_height"></div>
                    <div class="clear_right_height"></div>
                    <div class="clear_right_height"></div>
                    <div class="col-md-12">
                            <div class="qb_main_right">
                               <button type="button" class="btn btn-primary qb_btn_color" v-on:click="save">保存</button>
                                <a class="qb_btn_qx" onclick="window.open('sz_4.html','_self')">取消并返回</a>
                            </div>
                    </div>
            </div>
    </div>
    <div id="app_footerside">
		<footerside></footerside>
	</div>
	<script src="./js/base.js"></script>
	<script type="text/javascript" src="js/sz_5.js"></script>
    <script type="application/javascript">
        $(window).resize(function() {
            var h = document.documentElement.offsetHeight
            $(".qb_main").height(h-140);
        });
    </script>
</body>
</html>
